a.popup-link {
  /*padding:17px 0;
  text-align: center;
  margin:7% auto;
  position: relative;
  width: 300px;
  text-decoration: none;
  border-radius: 3px;*/
  /*display: block;*/
  text-transform: none;
}
a.popup-link:hover {
  /*-webkit-transition:all 1s;
  -moz-transition:all 1s;
  transition:all 1s;*/
}
.popup-wrapper {
  display:none;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  margin-top: -200px;
}
.popup-wrapper:target {
  display:block;
  /*visibility:visible;  */
  /*opacity: 1;*/
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  z-index: 666;
  /*-webkit-transition:all 1s;
  -moz-transition:all 1s;
  transition:all 1s;*/
}
@media (min-width: 768px){
  .popup-container {
    width:600px;
  }
}
@media (max-width: 767px){
  .popup-container {
    width:100%;
  }
}
.popup-container {
  position: relative;
  margin:7% auto;
  padding:30px 50px;
  border-radius: 3px;
}
a.popup-close {
  position: absolute;
  top:3px;
  right:3px;
  padding:7px 10px;
  text-decoration: none;
  line-height: 1;
}
.popup-form {
  margin:10px auto;
}
.popup-form h2 {
  margin-bottom: 5px;
  font-size: 37px;
  text-transform: uppercase;
}
.popup-form .input-group {
  margin:10px auto;
}
.popup-form .input-group input {
  padding:17px;
  text-align: center;
  margin-bottom: 10px;
  border-radius:3px;
  display: block;
  width: 100%;
}
.popup-form .input-group input[type="email"] {
  border:0px;
  position: relative;
}
.popup-form .input-group input[type="submit"] {
  border: 0;
  cursor: pointer;
}
.popup-container .form-group {
  margin-bottom: 5px;
}
.pika-single {
  z-index: 777;
}
