/* Thanks to oloman ! http://codepen.io/oloman/pen/odnqy */
input.spoiler-button{
 display: none;
}
input.spoiler-button + label {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 5px 20px;
  cursor: pointer;
  transition: all .6s;
}
input.spoiler-button ~ .spoiler-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-radius: 8px;
  transition: all .6s;
}
input.spoiler-button:checked + label + .spoiler-content{
  height: auto;
  opacity: 1;
  padding: 10px;
}
