/*Fonts*/
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('../fonts/DroidSansMono-webfont.eot');
    src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSansMono-webfont.woff') format('woff'),
         url('../fonts/DroidSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*General*/
body {
	color:#007007;
  text-shadow:2px 0px 4px #307007;
  font-family: droid_sans_monoregular, sans-serif;
  font-size:12px;
  font-weight: lighter;
  padding:0 15px;
  background-color:black;
}

a, a:focus, a:hover {
  color:#307007;
  text-decoration: none;
}
a.btn {
  text-shadow:none;
}
a:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  body {
    font-size:17px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size:18px;
  }
}
.hrline {
  background-color: #307007;
}
.unpad {
  padding:0;
}
/*User*/
.user-job {
  text-transform: uppercase;
}
.user-name {
  text-transform: uppercase;
}
/*Detail*/
.detail-image {
  -webkit-box-shadow: 0px 0px 15px 6px #307007;
  -moz-box-shadow: 0px 0px 15px 6px #307007;
  box-shadow: 0px 0px 15px 6px #307007;
  background-color: #ececec;
}
/*Skill*/
.skill .skill-item {
  background-color:#ececec;
}
.skill-action button,
.skill-action a i {
  /*color:black;*/
}
.skill-item.disabled {
  background-color: #eeeeee;
  opacity: 0.7;
}
.skill .skill-item.selected  {
  -webkit-box-shadow: 0px 0px 15px 6px #307007;
  -moz-box-shadow: 0px 0px 15px 6px #307007;
  box-shadow: 0px 0px 15px 6px #307007;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;
}
.skill .skill-item:hover  {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: 0px 0px 15px 6px #ececec;
  -moz-box-shadow: 0px 0px 15px 6px #ececec;
  box-shadow: 0px 0px 15px 6px #ececec;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;
}
/*Job*/
.job-item.selected .cd-timeline-content {
  -webkit-box-shadow: 0px 0px 13px 8px #307007;
  -moz-box-shadow: 0px 0px 13px 8px #307007;
  box-shadow: 0px 0px 13px 8px #307007;
}
.job-item .cd-timeline-content:hover {
  -webkit-box-shadow: 0px 0px 13px 8px #ececec;
  -moz-box-shadow: 0px 0px 13px 8px #ececec;
  box-shadow: 0px 0px 13px 8px #ececec;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;
}
.job-item .cd-timeline-img {
  background-color: black;
  -webkit-box-shadow: 0px 0px 13px 8px #307007;
  -moz-box-shadow: 0px 0px 13px 8px #307007;
  box-shadow: 0px 0px 13px 8px #307007;
}
.job-item .cd-timeline-img:hover {
  -webkit-box-shadow: 0px 0px 13px 8px #ececec;
  -moz-box-shadow: 0px 0px 13px 8px #ececec;
  box-shadow: 0px 0px 13px 8px #ececec;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -kthtml-transition: all 300ms linear;
  transition: all 300ms linear;
}
.job-action .cd-timeline-img{
  background-color: #ececec;
}

button.delete, button.edit, button.add,
a.delete, a.edit, a.add,
.user-control button, .user-control div.btn, .user-control a.btn {
  color:#999999;
}

/*Popup*/
a.popup-link button {
  color:#999999;
  /*background-color: #FFBA00;*/
  /*box-shadow: 0 5px 0px 0px #eea900;*/
  /*border-radius: 6px;*/
}
a.popup-link:hover {
  /*background-color: #ff9900;*/
  /*box-shadow: 0 3px 0px 0px #eea900;*/
}
.popup-wrapper:target {
  background-color: rgba(255,255,255,0.7);
}
.popup-container {
  background-color: #fff;
  color:#000;
  text-shadow: none;
  border-radius: 3px;
}
a.popup-close {
  background-color: #fff;
  color:#333;
  font-size: 20px;
}
.popup-form .input-group input {
  font-size: 16px;
  border-radius:3px;
}
.popup-form .input-group input:focus {
  outline-color:#FB8833;
}
.popup-form .input-group input[type="submit"] {
  background-color: #FB8833;
  color: #fff;
}
.popup-form .input-group input[type="submit"]:focus {
  box-shadow: inset 0 3px 7px 3px #ea7722;
}
/*Datepickers*/
.pika-single, .pika-single button {
  /*background-color: #fff;*/
  color:#000;
  text-shadow: none;
}
/*LOCK MODE*/
/*.skill-action, .user-control, .job-action, .edit {
 display:none;
}*/
