/*This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

If it is not possible or desirable to put the notice in a particular
file, then You may include the notice in a location (such as a LICENSE
file in a relevant directory) where a recipient would be likely to look
for such a notice.

Copyright 2016 François Cadeillan
*/

/*Bootstrap extension*/
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }
.pull-xs-left { float:left; }
.pull-xs-right { float:right; }

@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }

    .pull-sm-left { float:left; }
    .pull-sm-right { float:right; }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }

    .pull-md-left { float:left; }
    .pull-md-right { float:right; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }

    .pull-lg-left { float:left; }
    .pull-lg-right { float:right; }
}
.btn-file {
    position: relative;
    overflow: hidden;
    text-shadow: none;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    font-variant: normal;
}
.hrline {
  margin: 15px 0;
  height: 2px;
}
.btn-half {
  padding-right: 25%;
  padding-left: 25%;
}
/*User*/
.user {
  margin-top: 40px;
}
.user-name {
  text-transform: uppercase;
}
.user-job {
  margin-top: 20px;
  margin-bottom: 15px;
}
.user-photo {
  min-width: 80px;
  padding: 5px 15px;
}
.user-field {
  margin-bottom: 5px;
}
.user-control button, .user-control a.btn, .user-control div.btn {
  min-width:110px;
  text-align: left;
}
/*Detail*/
.detail {
  margin-top: 40px;
}
.detail-image {
  max-width: 80px;
  margin:5px 10px 0 0;
}
.detail-image-edit {
  max-width: 80px;
}
@media (min-width: 768px) {
  .detail-image {
    max-width: 120px;
    border-radius: 15% !important;
  }
  .detail > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*Skill*/
.skill ul {
  list-style-type: none;
}
.skill .skill-item {
  border-radius: 15% !important;
  margin:5px;
  max-width: 80px;
  padding:0;
  position:relative;
}
.skill-action button,
.skill-action a i {
  background: none;
  text-shadow: none;
}
.skill-action .btn-group {
  max-width: 34px;
}
.skill-item.skill-action button {
  height:80px;
}
.skill-item .skill-action {
  position: absolute;
  bottom:0;
}

/*Job*/
.job-item .cd-date {
  color:#118117;
  font-variant: small-caps;
  font-weight: bold;
  padding:5px 10px;
}
.job-item:last-child {
  padding-bottom: 20px;
}
.job-item.cd-timeline-block{
  margin-bottom: 0;
  margin-top: 10px;
}
.job-item .cd-timeline-content {
  padding:10px;
}
.job-item.disabled .cd-timeline-content, .job-item.disabled .cd-timeline-img {
  opacity: 0.6;
}
.job-action .add {
  background: none;
  text-shadow: none;
  padding:10px;
}
.cd-timeline-content .job-action {
  position:absolute;
  top:10px;
  right:10px;
}
@media (min-width: 992px) {
  .fa-responsive {
    font-size: 1.6em !important;
  }
}

@media (min-width: 1200px) {
  .fa-responsive {
    font-size: 3em !important;
  }
}
