.slide-control
  z-index: 199
  position: fixed

.slide
  position: absolute

.slide.is-right-in
  animation: slideRightIn 0.5s

.slide.is-left-in
  animation: slideLeftIn 0.5s

.slide.is-right-out
  animation: slideRightOut 0.5s

.slide.is-left-out
  animation: slideLeftOut 0.5s

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(slideRightIn)
  0%
    transform: translateX(100vw)
  100%
    transform: translateX(0)

+keyframes(slideLeftIn)
  0%
    transform: translateX(-100vw)
  100%
    transform: translateX(0)

+keyframes(slideRightOut)
  0%
    transform: translateX(0)
  100%
    transform: translateX(100vw)

+keyframes(slideLeftOut)
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100vw)
