.skill-card-control
  position: absolute
  top: 0
  right: 0

.min-height-100p
  min-height: 100%

.min-height-150px
  min-height: 150px

.card
  &:hover
    cursor: pointer
    background-color: #1E90FF
    
.glowing-strong
  background-color: #1E90FF
