.collapse input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.collapse input[type=checkbox] + label::after {
    content: "+";
}
.collapse input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}

.collapse input:checked ~ .collapse-content {
    max-height: 25rem;
}

.collapse label {
    position: relative;
    display: block;
    line-height: 3;
    cursor: pointer;
}

.collapse label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
