@font-face
    font-family: 'droid_sans_monoregular'
    //src: url('../fonts/DroidSansMono-webfont.eot');
    //src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype');
    src: url('./fonts/DroidSansMono-webfont.woff') format('woff')
    //src: url('../fonts/DroidSansMono-webfont.ttf') format('truetype');
    //src: url('../fonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal
    font-style: normal

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

$family-sans: 'droid_sans_monoregular'

// Use the new serif family
$family-primary: $family-sans
$timeline-marker-background-color: $black
$timeline-content-padding: 0.5 0 0 0.5em
$timeline-header-width: 2em

$dimensions: 16

@import "bulma/sass/utilities/derived-variables"

$addColors: ()
$colors: map-merge($colors, $addColors)


// 4. Import the rest of Bulma
@import "bulma/bulma"
@import "bulma-timeline/dist/bulma-timeline"
@import "bulma-divider/divider"
